*{
    margin: 0;
    padding: 0;
}

article{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    line-height: 35px;
    margin: 0 110px;
}

.plate{
    display: flex;
    justify-content: space-around;
    margin: 0 170px;
}

.fs{
    font-size: x-large;
}

.purple{
    color: purple;
}

#btn{
    width: 10%;
    /* height: 30px; */
    background-color: skyblue;
    padding: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

@media (max-width: 500px) {
    
}
